body {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    background-color: #171312;
    color: snow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    height: 90px;
    text-align: left;
    padding-top: 20px;
}

.logo {
    height: 70px;
}

nav>a {
    text-transform: uppercase;
    margin-right: 20px;
    text-decoration: none;
    color: snow;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#about {
    color: aqua;
    padding: 0 100px 0 100px;
}

h3>span {
    padding-left: 30px;
}

#works {
    padding: 0 100px 0 100px;
    color: rgb(194, 84, 196);
}

#knowledge {
    color: yellow;
    padding: 0 100px 0 100px;
}

ul>li {
    color: snow;
    padding: 10px;
}

.gra {
    height: 700px;
    margin-right: auto;
}

h1 {
    font-size: 60px;
}

footer {
    text-align: center;
    height: 100px;
}